[submodule "dwm"]
	path = dwm
	url = https://github.com/stonefeld/dwm
[submodule "st"]
	path = st
	url = https://github.com/stonefeld/st
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/stonefeld/dmenu
[submodule "dwmblocks"]
	path = dwmblocks
	url = https://github.com/stonefeld/dwmblocks
